.approve-transaction-choice-container {
  background: url("../../images/requested.jpg") center center/cover no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  position: fixed;
  overflow: hidden;
}

.approve-paragraphs > P {
  font-size: 40px;
}

.approve-paragraphs {
  margin-top: -200px;
  text-align: center;
}
