.enter-amount-container {
  background: url("../../images/pin&amount.png") center center/cover no-repeat;
  /*height: 145vh;*/
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  z-index: -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  position: fixed;
  overflow: hidden;
}

.enter-pin-pic-and-text {
  display: flex;
  margin-bottom: 30px;
}

.enter-account-number-pic-and-text {
  display: flex;
  margin-bottom: 30px;
}
.enter-transfer-amount-pic-and-text {
  display: flex;
  margin-bottom: 30px;
}

.enter-pin-text {
  display: inline-block;
  margin-left: 575px;
}
.enter-account-number-text {
  display: inline-block;
  margin-left: 480px;
}
.enter-transfer-amount-text {
  display: inline-block;
  margin-left: 540px;
}

.enter-pin-cancel-pic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 255px;
  display: inline-block;
}

.enter-account-number-cancel-pic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 175px;
  display: inline-block;
}
.enter-transfer-amount-cancel-pic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 200px;
  display: inline-block;
}

.enter-pin-text > p {
  font-size: 30px;
}

.enter-pin-text > h1 {
  font-size: 40px;
}

.enter-account-number-text > h2 {
  font-size: 30px;
}

.enter-pin-input-field {
  margin-bottom: 20px;
}
.enter-pin-btns-group-1 {
  display: flex;
  justify-content: space-between;
  max-width: 315px;
  margin-left: 610px;
  margin-bottom: 20px;
}

.enter-pin-btns-group-2 {
  display: flex;
  justify-content: space-between;
  max-width: 315px;
  margin-left: 610px;
  margin-bottom: 20px;
}

.enter-pin-btns-group-3 {
  display: flex;
  justify-content: space-between;
  max-width: 315px;
  margin-left: 610px;
  margin-bottom: 20px;
}

.enter-pin-btns-group-4 {
  margin-bottom: 20px;
}

.pin-proceed-confirmation-btn {
  margin-bottom: 20px;
}
