.insert-money-container {
  background: url("../../../images/pin&amount.png") center center/cover
    no-repeat;
  /*height: 145vh;*/
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  z-index: -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  position: fixed;
  overflow: hidden;
}

.insert-money-container > h1 {
  color: rgba(0, 0, 0, 0.808);
}

.insert-money-container > p {
  color: rgba(0, 0, 0, 0.808);
  font-size: 25px;
}

.inserting-money-pic {
  margin: 40px auto;
  border-radius: 10px;
}
.insert-money-cancel-pic-and-text > h1 {
  font-size: 40px;
}

.insert-money-cancel-pic-and-text > p {
  font-size: 30px;
  margin-top: 8px;
}
/* .insert-money-cancel-pic-and-text {
  display: flex;
  margin-top: -40px;
  font-size: 35px;
  justify-content: space-between;
} */

/* .amount-text {
  display: inline-block;
  margin-left: 550px;
} */

.insert-money-cancel-pic {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: -1020px;
}
