.proceed-conversion-container {
  background: url("../../../images/pin&amount.png") center center/cover
    no-repeat;
  /*height: 145vh;*/
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  z-index: -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  position: fixed;
  overflow: hidden;
}

.note-and-equivalence {
  justify-content: space-between;
  display: flex;
  font-size: 30px;
  margin-left: 300px;
  margin-bottom: 10px;
  margin-top: 60px;
}

.proceed-conversion-note {
  color: rgb(255, 0, 0);
}

.proceed-conversion-equivalence {
  margin-right: 950px;
}

.proceed-conversion-column-1 {
  justify-content: space-between;
  display: flex;
  margin: 60px 670px;
  margin-left: 300px;
  margin-bottom: 70px;
}

.proceed-conversion-btn-1 .btn {
  display: inline-block;
  font-size: 17px;
}
.proceed-conversion-text {
  /* display: inline-block; */
  font-size: 25px;
  margin-top: 12px;
}

.proceed-conversion-column-2 {
  justify-content: space-between;
  display: flex;
  margin: -10px 670px;
  margin-left: 300px;
}

.proceed-conversion-proceed-btn {
  margin: 90px 70px 10px;
}

.proceed-conversion-cancel-pic-and-text > h1 {
  font-size: 40px;
  margin-left: 40px;
  margin-top: 22px;
}

.proceed-conversion-money-cancel-pic {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 1030px;
}
