.welcome-page-container {
  background: url("../../../images/pin&amount.png") center center/cover
    no-repeat;
  /*height: 145vh;*/
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  z-index: -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  position: fixed;
  overflow: hidden;
}

.welcome-page-container > h1 {
  color: rgba(0, 0, 0, 0.808);
  margin: 10px;
}

.welcome-page-container > p {
  color: rgba(0, 0, 0, 0.808);
  font-size: 25px;
}

.welcome-page-btns-1 {
  justify-content: space-between;
  display: flex;
  margin: 80px 300px;
}

.welcome-page-btns-list-1 .btn {
  display: inline-block;
}

.welcome-page-btns-list-2 {
  display: inline-block;
}

.welcome-page-btns-2 {
  justify-content: space-between;
  display: flex;
  margin: 0px 300px 120px 300px;
}
