:root {
  --primary: #fff;
}

.btn {
  padding: 8px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

/*colors-styles*/
.primary--btn {
  background-color: #ffa826;
  color: black;
  box-shadow: inset 1px 1px 2px 2px rgb(216, 216, 216);
}

.primary-btn-with-black-border {
  background-color: #ffa826;
  color: black;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 2px 2px 7px -4px black;
}

.secondary--btn {
  background-color: #fcb441;
  color: black;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

.secondary-btn-with-black-border {
  background-color: #fcb441;
  color: black;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 2px 2px 7px -4px black;
}

.outline--btn {
  background-color: #efc168;
  color: black;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

/*sizes*/
.small--btn {
  padding: 8px 20px;
  font-size: 18px;
}

.stylished-small-btn {
  padding: 1px;
  font-size: 37px;
  border-radius: 12px;
  width: 270px;
  height: 70px;
}

.small-btn-with-shadow {
  font-size: 30px;
  width: 290px;
  height: 55px;
}

.small-btn-with-shadow-2 {
  width: 290px;
  height: 55px;
}

.small-round-btn {
  font-size: 30px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.medium--btn {
  padding: 12px 25px;
  font-size: 25px;
  height: 80px;
  width: 200px;
  font-size: 30px;
}

.stylished-medium-btn {
  padding: 12px 25px;
  font-size: 25px;
  height: 80px;
  width: 200px;
  font-size: 40px;
}

.large--btn {
  padding: 16px 33px;
  font-size: 32px;
  border-radius: 12px;
  width: 284px;
  height: 90px;
}

.stylished-large-btn {
  padding: 12px 30px;
  font-size: 28px;
  width: 284px;
  height: 90px;
}

/*hover based on sizes*/
.small--btn:hover,
.medium--btn:hover,
.large--btn:hover,
.stylished-large-btn:hover,
.stylished-small-btn:hover,
.round-btn:hover {
  background: #ff9a00;
  color: black;
  transition: all 0.3s ease-in-out;
}
